<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
        <hi>  Seriously ? </h1>
        </title>
    </head>
    <body>
        <h3>
            Polaroid
        </h3>
        <p>
            Welcome to Polaroid Search Engine.<br>
            This is a Searching example:<br>
            <form action="/hello" method="post">
                Enter Keyword: <input type="text" name="first_name">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>
