<head>
<title>Polaroid</title>

<!-- Styles --> 
<style>
body {
  background-image: url("static/wallpaper2.jpg");
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<link rel='shortcut icon' type='image/x-icon' href='static/favicon.png' />
</head>
<center>
    <span id="body">
        <center>
            <br id="lgpd" clear="all">
            <div id="lga">
                <padding: 300px 12pt 10px; height="125" width="363">
                <br>
                <br>
            </div>
            <form action="/hello" method="post" name="f">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr valign="top">
                            <td width="25%">&nbsp;</td>
                            <td align="center" nowrap="nowrap">
                                
                                
                                <div class="ds" style="height: 32px; margin: 4px 0pt;padding: 400px 12pt 10px;">
                                    <input maxlength="2048" name="first_name" class="lst"  value="" size="57" style="background: #ffffff repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); color: rgb(0, 0, 0); font: 18px arial,sans-serif bold; height: 25px; margin: 0pt; padding: 5px 8px 0pt 6px; vertical-align: top;" type = "text", method="post", action = "/hello">
                                </div>
                                <br style="line-height: 0pt;">
                                <span class="ds">
                                    <span class="lsbb">
                                        <input  name="first_name" value="Polaroid" type="submit" method="POST" action="/hello">
                                    </span>
                                </span>
                                <span class="ds">
                                    <span class="lsbb">
                                       
                                    </span>
                                </span>
                            </td>
                            <td style="opacity: 1;" class="sblc" id="sbl" align="left" nowrap="nowrap" width="25%">
                               
                            </td>
                        </tr>
                    </tbody>
               
            <div style="font-size: 83%; min-height: 3.5em;">
                <br>
            </div>
            <div id="res">
            </div>
        </center>
    </span> <span id="footer">
        <bottom style="opacity: 1;" id="fctr">

            <div style="font-size: 10pt;">
                <div id="fll" style="margin: 19px auto; text-align: bottom;">
                    
                </div>
            </div>
            
        </bottom>
    </span>  
</center>